<div class="banner">
  <div *ngIf="type === 'connectivity'" class="banner__connectivity">
    <div class="banner__connectivity__icon">
      <app-icon type="stop-connection"/>
    </div>  
    <div class="banner__connectivity__text">
      <div class="banner__connectivity__text__first banner-label">This stop is connected to:</div>
      <div *ngIf="connectionData.length === 1">
        <span class="banner__connectivity__text__next banner-label">{{connectionData[0].connectedStopType}} <app-chip type="connection" [field]="connectionData[0].connectedStopName" [sideIcon]="connectionData[0].connectedStopCorridor"/></span>
      </div>
      <div *ngIf="connectionData.length === 2">
        <span class="banner__connectivity__text__next banner-label">{{connectionData[0].connectedStopType}} <app-chip type="connection" [field]="connectionData[0].connectedStopName" [sideIcon]="connectionData[0].connectedStopCorridor"/></span>
        <span class="banner__connectivity__text__next banner-label">and {{connectionData[1].connectedStopType}} <app-chip type="connection" [field]="connectionData[1].connectedStopName" [sideIcon]="connectionData[1].connectedStopCorridor"/></span>
      </div>
    </div>
  </div>
</div>