.command-bar {
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--bg80);
  &__control {
    padding: 4px 8px;
    height: calc(100% - 28px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: var(--bg80);
    &__button {
      height: 34px;
      width: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
      &-disabled {
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: not-allowed;
        & > img {
          filter: opacity(50%);
        }
      }
    }
    &__search {
      padding: 8px;
      width: calc(100% - 96px);
      border: none;
      border-radius: 8px;
      background-color: transparent;
    }
  }
  &__filter {
    display: flex;
    justify-content: center;
  }
  &__result {
    margin: 16px 0 0 0;
  }
}