<div class="side-panel__cluster">
  <div class="side-panel">
    <div id="side-panel__content" class="side-panel__content">
      <section class="side-panel__content__header">
        <app-command-bar (backButtonClick)="handleBackButtonClick()" (query)="checkQuery($event)"/>
      </section>

      <section *ngIf="selectedCorridor === null && query === ''" id="home-section" class="side-panel__content__page">
        <app-home (selectedCorridor)="handleListCorridorClick($event)"/>
      </section>

      <section *ngIf="query !== ''" id="search-result" class="side-panel__content__page__search">
        <app-search-result [query]="query" (selectedCorridor)="handleListCorridorClick($event)"/>
      </section>

      <section *ngIf="selectedCorridor !== null && selectedStop === null && query === ''" class="side-panel__content__page">
        <app-corridor-detail [selectedCorridor]="selectedCorridor" (selectedStop)="handleListStopClick($event)"/>
      </section>

      <section *ngIf="selectedCorridor !== null && selectedStop !== null && query === ''" class="side-panel__content__page">
        <app-stop-detail [selectedStop]="selectedStop"/>
      </section>
    </div>
  </div>
  <div class="side-panel__resize" (click)="toggleSidePanelCollapseExpand()">
    <img src="../../../assets/icons/chevron.compact.left.svg" alt="">
  </div>
</div>