<div class="stop-detail">
  <div class="stop-detail__header">
    <div class="stop-detail__header__icon">
      <div *ngFor="let interchange of stopInterchangeDetail">
        <app-icon type="corridor-medium" [color]="interchange.corridorColor" [icon]="interchange.corridorIcon"/>
      </div>
    </div>
    <div class="stop-detail__header__title section-title">{{getStopName(stop)}}</div>
  </div>
  <div *ngIf="stopDetail.stopConnected">
    <app-banner type="connectivity" [connection]="stopDetail.stopConnected" (stopClick)="handleStopClick($event)"/>
  </div>
  <div class="stop-detail__content">
    <div *ngFor="let interchange of stopInterchangeDetail">
      <app-route-preview [interchange]="interchange" [stop]="stop" (stopClick)="handleStopClick($event)"/>
    </div>
  </div>
</div>