<div class="terminus">
  <button 
    (click)="handleDirectionClick('lower')"
    [ngStyle]="{ 'background-color': (direction == 'lower' ? 'var(--colC8)' : 'transparent') }"
    class="terminus__lower"
  >
    <p class="terminus__lower__descriptive terminus-descriptive">Bound for</p>
    <p class="terminus__lower__destination terminus-bound">{{getStopName(terminusLower, true)}}</p>
  </button>
  <button 
    (click)="handleDirectionClick('upper')"
    [ngStyle]="{ 'background-color': (direction == 'upper' ? 'var(--colC8)' : 'transparent') }"
    class="terminus__upper"
  >
    <p class="terminus__upper__descriptive terminus-descriptive">Bound for</p>
    <p class="terminus__upper__destination terminus-bound">{{getStopName(terminusUpper, true)}}</p>
  </button>
</div>