.selection {
  padding: 4px;
  width: calc(100% - 8px);
  border-radius: 16px;
  background-color: var(--bg80);
  display: flex;
  justify-content: space-between;
  position: relative;
  &__upper, &__lower {
    width: calc((100% / 2) - 2px);
    padding-block: 4px;
    border: 0 solid;
    border-radius: 12px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    cursor: pointer;
    & > p {
      margin-block: 0;
    }
    &__descriptive {
      color: var(--tx85);
    }
    &__destination {
      color: var(--white);
    }
  }
  &__background {
    height: calc(100% - 8px);
    border: 0 solid;
    border-radius: 12px;
    background-color: var(--bg80);
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }
}