<main class="RKV">
  <!-- <div *ngIf="corridorList"> -->
    <!-- <div 
      *ngFor="let corridor of corridorList"
      class="corridorList"
    >
      <div 
        [ngStyle]="{ 'background-color': getCorridorColor(corridor.corridorColor) }"
        class="corridorList__icon"
      >
        <p>{{ corridor.corridorIcon }}</p>
      </div>
      <p>{{ corridor.corridorName }}</p>
    </div> -->
    <!-- <app-button/> -->
     
    <!-- <app-bottomsheet/> -->
    <!-- <app-svg-playground></app-svg-playground> -->
  <!-- </div> -->
   
  <div class="RKV__map" id="map">
    <app-system-map/>
  </div>
  <div class="RKV__panel">
    <app-side-panel/>
  </div>
</main>

<router-outlet />
