h1 {
  font-size: 3.125rem;
  color: var(--blue);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

html {
  background-color: var(--darkgrey);
}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}
.reykjavik {
  position: relative;
  &__map {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  &__panel {
    position: absolute;
    top: 12px;
    left: 12px;
  }
}