.corridor-list {
  margin-block-start: 8px;
  width: calc(100% - 24px);
  max-height: 360px;
  overflow-x: auto;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg80);
  &__content {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-radius: 8px;
      background-color: var(--colC8);
    }
    &__text {
      &>* {
        margin-block: 0;
        margin-inline-start: 8px;
      }
      &__name {
        color: var(--tx94);
      }
    }
    &__divider {
      margin: 8px 0;
      border: 1px solid var(--bg80);
      border-radius: 2px;
    }
  }
}