<div class="corridor-list">
  <div 
    *ngFor="let corridor of corList; last as isLast" 
  >
    <div 
      class="corridor-list__content"
      (click)="emitCorClick(corridor)"
    >
      <app-corridor-icon
        [corridorColor]="corridor.corridorColor"
        [corridorIcon]="corridor.corridorIcon"
      />
      <div class="corridor-list__content__text">
        <p class="corridor-list__content__text__name m10">{{ corridor.corridorName }}</p>
        <p class="corridor-list__content__text__direction b16">
          {{ corridor.corridorTerminusLower }} - {{ corridor.corridorTerminusUpper }}
        </p>
      </div>
    </div>
    <hr *ngIf="!isLast" class="corridor-list__content__divider">
  </div>
  <div *ngFor="let corridor of busCorList; last as isLast">
    <div *ngIf="corridor.busStopNextLow">
      <div
        (click)="emitBusCorClick(corridor, 'lower')"
        class="corridor-list__content"
      >
        <app-corridor-icon
          [corridorColor]="corridor.corridorColor"
          [corridorIcon]="corridor.corridorIcon"
        />
        <div class="corridor-list__content__text">
          <p class="corridor-list__content__text__name m10">{{ corridor.corridorId }}</p>
          <p class="corridor-list__content__text__direction b16">
            {{ corridor.corridorTerminusLower }}
          </p>
        </div>
      </div>
      <hr *ngIf="!isLast || (isLast && corridor.busStopNextUp)" class="corridor-list__content__divider">
    </div>
    <div *ngIf="corridor.busStopNextUp">
      <div
        (click)="emitBusCorClick(corridor, 'upper')"
        class="corridor-list__content"
      >
        <app-corridor-icon
          [corridorColor]="corridor.corridorColor"
          [corridorIcon]="corridor.corridorIcon"
        />
        <div class="corridor-list__content__text">
          <p class="corridor-list__content__text__name m10">{{ corridor.corridorId }}</p>
          <p class="corridor-list__content__text__direction b16">
            {{ corridor.corridorTerminusUpper }}
          </p>
        </div>
      </div>
      <hr *ngIf="!isLast" class="corridor-list__content__divider">
    </div>
  </div>
</div>