<div class="corridor-list">
  <div 
    *ngFor="let corridor of corridorList" 
    (click)="emitCorridorClick(corridor)"
    class="corridor-list__content"
  >
    <app-corridor-icon
      [corridorColor]="corridor.corridorColor"
      [corridorIcon]="corridor.corridorIcon"
    />
    <div class="corridor-list__content__text">
      <p class="corridor-list__content__text__name m10">{{ corridor.corridorName }}</p>
      <p class="corridor-list__content__text__direction b16">
        {{ corridor.corridorTerminusLower }} - {{ corridor.corridorTerminusUpper }}
      </p>
    </div>
  </div>
</div>