<div class="loading">
  <div>
    <div class="loading__1"></div>
    <div class="loading__2"></div>
  </div>
  <div>
    <div class="loading__3"></div>
    <div class="loading__4"></div>
  </div>
  <div>
    <div class="loading__5"></div>
    <div class="loading__6"></div>
  </div>
  <div>
    <div class="loading__7"></div>
    <div class="loading__8"></div>
  </div>
  <div>
    <div class="loading__9"></div>
    <div class="loading__10"></div>
  </div>
  <div>
    <div class="loading__11"></div>
    <div class="loading__12"></div>
  </div>
</div>
