<div (click)="handleListItemClick(corridor)" class="list-item">
  <div class="list-item__icon list-icon" [ngStyle]="{ 'background-color': getCorridorColor(corridor.corridorColor) }">{{corridor.corridorIcon}}</div>
  <div class="list-item__info">
    <p class="list-item__info__name list-name">{{corridor.corridorName}}</p>
    <div class="list-item__info__track">
      <p class="list-item__info__track__terminus list-direction">{{corridor.corridorLowerBound}} - {{corridor.corridorUpperBound}}</p>
      <p *ngIf="corridor?.corridorVia" class="list-item__info__track__via list-via">Via {{corridor.corridorVia}}</p>
    </div>
  </div>
</div>