.list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px;
  height: 32px;
  &:hover {
    border-radius: 12px;
    background-color: var(--colC8);
    cursor: pointer;
  }
  // &__icon {
  //   width: 32px;
  //   height: 32px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border: none;
  //   border-radius: 16px;
  // }
  &__stop {
    width: 24px;
    height: 100%;
    position: relative;
    &__point {
      position: absolute;
      top: 6px;
      bottom: 6px;
      left: 6px;
      height: 16px;
      width: 16px;
      border-radius: 16px;
      border: 2px solid var(--white);
      z-index: 2;
    }
    &__line-top {
      position: absolute;
      top: -8px;
      left: 12px;
      width: 8px;
      height: calc(50% + 8px);
    }
    &__line-bottom {
      position: absolute;
      bottom: -8px;
      left: 12px;
      width: 8px;
      height: calc(50% + 8px);
    }
  }
  &__detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__transit {
      width: fit-content;
      display: flex;
      flex-direction: row;
      // &__icon {
      //   margin: 0 0 0 4px;
      //   width: 18px;
      //   height: 18px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   border: none;
      //   border-radius: 12px;
      // }
    }
  }
  &__info, &__detail__info {
    margin: 0 0 0 12px;
    &__name {
      margin: 0;
    }
    &__code {
      padding: 0;
      width: 32px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }
    &__track {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__terminus {
        margin: 0;
      }
      &__via {
        margin: 0 0 0 6px;
      }
    }
  }
}