<div class="chip-selection">
  <div class="chip-selection__home-filter">
    <div *ngFor="let filter of homeFilters" class="chip-selection__home-filter__chip">
      <app-chip type="filter" [field]="filter" (clickedFilter)="selectFilter($event)"/>
    </div>
  </div>
  <div class="chip-selection__search-filter">
    <div *ngFor="let filter of searchFilters" class="chip-selection__search-filter__chip">
      <app-chip type="filter" [field]="filter" (clickedFilter)="selectFilter($event)"/>
    </div>
  </div>
</div>
