<section *ngIf="type === 'filter'" class="pop-up" appClickOutside (clickOutside)="handleOutsideClick()">
  <h3 class="pop-up__title pop-up-title">FILTER</h3>
  <ul class="pop-up__list">
    <li *ngFor="let filter of filterSelectionList" class="pop-up__selection filter-selection" (click)="handleFilterClick(filter.code)">
      <img *ngIf="selectedFilter === filter.code" class="pop-up__selection-selected" src="./assets/icons/checkmark.svg" alt="">
      <img *ngIf="selectedFilter !== filter.code" class="pop-up__selection-not-selected" src="./assets/icons/checkmark.svg" alt="">
      {{filter.name}}
    </li>
  </ul>
</section>
