<div *ngIf="type === 'code'" class="chip-badge badge-label" [ngStyle]="{ 'background-color': getCorridorColor(color) }">
  <span>{{field}}</span>
</div>
<div *ngIf="type === 'filter'" class="chip-filter-active filter-label" [id]="'chip-filter' + field" (click)="handleFilterClick(field)">
  <span>{{field}}</span>
</div>
<span *ngIf="type === 'connection'" class="chip-connection">
  <span *ngFor="let corridor of corridorDetail">
    <app-icon type="corridor-extra-small" [color]="corridor.corridorColor" [icon]="corridor.corridorIcon"/>
  </span>
  <span class="chip-connection__label connection-label">{{field}}</span>
  <img class="chip-connection__icon-right" src="../../../assets/icons/chevron.forward.svg" alt="">
</span>