.icon {
  &-small {
    margin: 0 0 0 4px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 9px;
  }
  &-medium {
    margin: 0 4px 0 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
  }
  &-large {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
  }
}