<div class="bottomsheet">
  <app-button 
    *ngIf="isShowBackButton()"
    class="bottomsheet__button"
    (backClicked)="goBack()"
  />
  <div class="bottomsheet__content">
    <div class="bottomsheet__content__header">
      <div
        *ngIf="isShowCorIcon() && this.currentState === 'corDetail'"
        class="bottomsheet__content__header__icon"
      >
        <app-corridor-icon
          [corridorColor]="selCor.corridorColor"
          [corridorIcon]="selCor.corridorIcon"
        />
      </div>
      <div
        *ngIf="isShowCorIcon() && this.currentState === 'trkDetail'"
        class="bottomsheet__content__header__icon"
      >
        <div
          *ngFor="let icon of busCorList"
        >
          <app-corridor-icon
            [corridorColor]="icon.corridorColor"
            [corridorIcon]="icon.corridorIcon"
          />
        </div>
      </div>
      <h1 class="bottomsheet__content__header__title b24 m0">{{bottomSheetTitle}}</h1>
    </div>
    <div
      *ngIf="isShowTerminusSelection()"
      class="bottomsheet__content__terminus"
    >
      <app-terminus-selection
        [terminusLower]="selCor.corridorTerminusLower"
        [terminusUpper]="selCor.corridorTerminusUpper"
        [selTrkDir]="selTrkDir"
        (clickedDirection)="selectDirection($event)"
      />
    </div>
    <div *ngIf="isShowCorList()">
      <app-corridor-list 
        [corList]="corList" 
        (clickedCor)="goNext('corDetail', $event)"
      />
    </div>
    <div *ngIf="isShowBusCorList()">
      <app-corridor-list
        [busCorList]="busCorList"
        (clickedBusCor)="goNext('trkDetail', $event)"
      />
    </div>
    <div *ngIf="isShowBusList()">
      <app-line-detail 
        [corridorColor]="selCor.corridorColor"
        [selCor]="selCor"
        [selCorDir]="selCorDir"
        [corBusList]="corBusList"
        [terminusLower]="selCor.corridorTerminusLower"
        [terminusUpper]="selCor.corridorTerminusUpper"
        (clickedBusStop)="goNext('busDetail', $event)"
      />
    </div>
    <div *ngIf="isShowTrkList()">
      <app-line-detail 
        [corridorColor]="selTrk.corridorColor"
        [selTrk]="selTrk"
        [selTrkDir]="selTrkDir"
        [trkBusList]="trkBusList"
        [terminusLower]="selTrk.corridorTerminusLower"
        [terminusUpper]="selTrk.corridorTerminusUpper"
        (clickedBusStop)="goNext('busDetail', $event)"
      />
    </div>
  </div>
</div>
