.bottomsheet {
  &__content {
    width: calc(100vw - 32px - 24px);
    padding: 32px 16px 16px 16px;
    border: 1px solid var(--st30);
    border-radius: 32px;
    background-color: var(--bg80);
    backdrop-filter: blur(8px);
    &__header {
      &__icon {
        margin-block-end: 8px;
      }
    }
    &__terminus {
      margin-block-start: 8px;
    }
  }
}
