<div class="corridor-detail">
  <div class="corridor-detail__header">
    <app-icon type="corridor-large" [color]="corridorDetail.corridorColor" [icon]="corridorDetail.corridorIcon"/>
    <div class="corridor-detail__header__title section-title">{{corridorDetail.corridorName}}</div>
  </div>
  <app-terminus-selection
    [terminusLower]="corridorDetail.corridorLowerBound"
    [terminusUpper]="corridorDetail.corridorUpperBound"
    (directionClick)="handleDirectionClick($event)"
  />
  <app-list
    type="track"
    item="track"
    [corridor]="corridor"
    [direction]="direction"
    (itemClick)="handleItemClick($event)"
  />
</div>
