.line-detail {
  margin-block-start: 8px;
  width: calc(100% - 24px);
  max-height: 360px;
  overflow-x: auto;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg80);
  &__stop {
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-radius: 8px;
      background-color: var(--colC8);
    }
    &__icon {
      position: relative;
      &__point {
        z-index: 2;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        left: 12px;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        border: 2px solid var(--white);
      }
      &__line {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 18px;
        width: 8px;
        height: 44px;
        &--first {
          position: absolute;
          top: 8px;
          left: 18px;
          width: 8px;
          height: 36px;
        }
        &--last {
          position: absolute;
          top: 0;
          left: 18px;
          width: 8px;
          height: 8px;
        }
      }
    }
    &__name {
      margin-inline-start: 42px;
    }
  }
}