<div class="line-detail">
  <div
    *ngFor="let stopName of presentedList; first as isFirst; last as isLast" 
    class="line-detail__stop"
  >
    <div class="line-detail__stop__icon">
      <div 
        [ngStyle]="{ 'background-color': getCorridorColor(corridorColor) }"
        class="line-detail__stop__icon__point">
      </div>
      <div 
        *ngIf="isFirst"
        [ngStyle]="{ 'background-color': getCorridorColor(corridorColor) }"
        class="line-detail__stop__icon__line--first">
      </div>
      <div 
        *ngIf="!isFirst && !isLast"
        [ngStyle]="{ 'background-color': getCorridorColor(corridorColor) }"
        class="line-detail__stop__icon__line">
      </div>
      <div 
        *ngIf="isLast"
        [ngStyle]="{ 'background-color': getCorridorColor(corridorColor) }"
        class="line-detail__stop__icon__line--last">
      </div>
    </div>
    <div class="line-detail__stop__name b16">
      {{stopName}}
    </div>
  </div>
</div>